In [4]:
import pandas as pd

In [5]:
all_dex = pd.read_excel('C:/Users/lzoeckler/Desktop/all_data/DexQueryData.xlsx')
all_dex.head()

,study_id,sample_id,participant_id,sample_type,country,lat,long,age_yrs,timepoint_days,febrile,...,quansys_LDH_Pan_pg_ml,quansys_LDH_Pv_pg_ml,quansys_LDH_Pf_pg_ml,quansys_CRP_ng_ml,quansys_HRP2_result,quansys_LDH_Pan_result,quansys_LDH_Pv_result,quansys_LDH_Pf_result,quansys_CRP_result,quansys_type
0,16-SMRU-01,1 110501023 (),110501023,WB,Myanmar ...,NaN,NaN,NaN,NaN,0.0,...,< 14.41,< 2.33,NaN,324.42422,0.0,0.0,0.0,NaN,NaN,4plex
1,16-SMRU-01,1 1421001 (),1421001,WB,Myanmar ...,NaN,NaN,NaN,NaN,0.0,...,< 14.41,< 2.33,NaN,384.08657,0.0,0.0,0.0,NaN,NaN,4plex
2,16-SMRU-01,1 1421035 (),1421035,WB,Myanmar ...,NaN,NaN,NaN,NaN,0.0,...,< 14.41,< 2.33,NaN,43.83038,0.0,0.0,0.0,NaN,NaN,4plex
3,16-SMRU-01,1 151019 (),151019,WB,Myanmar ...,NaN,NaN,NaN,NaN,0.0,...,< 14.41,< 2.33,NaN,1971.18307,0.0,0.0,0.0,NaN,NaN,4plex
4,16-SMRU-01,1 1771028 (),1771028,WB,Myanmar ...,NaN,NaN,NaN,NaN,0.0,...,< 14.41,< 2.33,NaN,1020.97418,0.0,0.0,0.0,NaN,NaN,4plex

In [6]:
for study_id in all_dex['study_id'].unique():
    study_df = all_dex.loc[all_dex['study_id'] == study_id]
    study_df.to_csv('C:/Users/lzoeckler/Desktop/all_data/separated/{}.csv'.format(study_id))