In [147]:
import pandas as pd
import numpy as np
import math
from functools import partial, reduce
import os
import re

In [148]:
dfs = []
input_path = 'C:/Users/lzoeckler/Desktop/4plex/input_data/20190610'
for fname in os.listdir(input_path):
    plex_data = pd.read_csv('{}/{}'.format(input_path, fname),
                            skiprows=8, names=['patient_id', 'type', 'well', 'error',
                                               'HRP2_pg_ml', 'LDH_Pan_pg_ml',
                                               'LDH_Pv_pg_ml', 'CRP_ng_ml'])
    plex_data = plex_data.applymap(lambda x: x.lower() if isinstance(x, str) else x)
    plex_data['patient_id'] = plex_data['patient_id'].fillna(method='ffill')
    plex_data = plex_data[~plex_data['patient_id'].isnull()]
    test = plex_data.loc[plex_data['patient_id'].str.contains('pa-049-14')]
    if len(test) > 1: 
        print(fname)
    dfs.append(plex_data)
combined = pd.concat(dfs)
combined = combined.loc[~combined['type'].isnull()]
combined = combined.loc[~combined['type'].str.contains('pixel')]
combined.head()

20190228_Data(Conc)_4Plex(Namibia P10).csv

,patient_id,type,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml
0,calibrator (neat),reduced concentration (replicate 1),a1,NaN,600.41,11064.05,571.43,9423.69
1,calibrator (neat),reduced concentration (replicate 2),b1,NaN,483.68,9974.46,424.78,11129.36
2,calibrator (1:3),reduced concentration (replicate 1),a2,NaN,219.66,3501.87,181.60,3171.26
3,calibrator (1:3),reduced concentration (replicate 2),b2,NaN,196.66,3507.22,149.18,3156.21
4,calibrator (1:9),reduced concentration (replicate 1),a3,NaN,65.56,1208.19,57.82,990.08

In [149]:
def fix_concentrations(df):
    con = df['concentration'].partition(':')[2]
    con = con.partition(')')[0]
    if len(con) != 0:
        return con
    else:
        return '1'

In [150]:
samples_data = combined.loc[combined['patient_id'].str.contains('pa-')]
samples_data = samples_data.drop('type', axis=1)
samples_data['concentration'] = samples_data['patient_id'].apply(lambda x: x.partition(' ')[-1])
samples_data['patient_id'] = samples_data['patient_id'].apply(lambda x: x.partition(' ')[0])
samples_data = samples_data.loc[(samples_data['concentration'].str.contains('neat|50|2500|125000|6250000|312500000'))]
samples_data = samples_data.loc[~samples_data['concentration'].str.contains('low volume')]
samples_data = samples_data.loc[~samples_data['well'].isnull()]
samples_data['concentration'] = samples_data.apply(fix_concentrations, axis=1)
samples_data = samples_data.sort_values(['patient_id', 'concentration'])
samples_data.head()

,patient_id,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml,concentration
33,pa-001-14,c8,NaN,299.48,< 14.41,2.76,7064.05,1
67,pa-001-14,d8,NaN,4138.79,< 720.50,< 116.50,3178.09,50
29,pa-001-21,c12,NaN,> 330.00,38.94,12.21,2413.65,1
63,pa-001-21,d12,NaN,1377.18,1593.58,227.59,< 1337.00,50
27,pa-001-28,g2,NaN,> 330.00,29.86,13.90,92.87,1

In [128]:
samples_data.to_csv('C:/Users/lzoeckler/Desktop/4plex/output_data/slightly_formatted_raw_data.csv', index=False)

In [151]:
samples_data.tail()

,patient_id,well,error,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml,concentration
89,pa-183-49,f8,NaN,14637.17,< 720.50,365.66,< 1337.00,50
24,pa-183-7,g6,NaN,139.85,148.18,15.97,7604.30,1
27,pa-183-7,f4,NaN,1151591.32,6571435.11,1244894.95,5977663.09,125000
26,pa-183-7,e4,NaN,454365.94,131428.70,15859.37,< 66850.00,2500
58,pa-183-7,h6,NaN,7770.69,2360.87,646.51,7683.81,50

In [152]:
samples_data['concentration'].unique()

array(['1', '50', '125000', '2500', '312500000', '6250000'], dtype=object)

,patient_id,well,error,concentration,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml
0,pa-013-28,???,NaN,1,111.45,64.09,9.49,2402.83
1,pa-013-28,???,NaN,50,7701.74,1023.80,305.23,2194.03
2,pa-013-28,???,NaN,125000,< 133750.00,2626978.27,< 291250.00,12512171.12
3,pa-013-28,???,NaN,2500,10043.28,< 36025.00,29632.73,< 66850.00
4,pa-064-63,???,NaN,1,111.45,64.09,9.49,2402.83

In [153]:
# threshhold values for various analytes
threshholds = {'HRP2_pg_ml': 330, 'LDH_Pan_pg_ml': 10514,
               'LDH_Pv_pg_ml': 497, 'CRP_ng_ml': 9574}

In [154]:
# constant to apply to the threshhold for different dilutions
dil_constants = {'50': 1, '2500': 50, '125000': 2500,
                 '6250000': 125000, '312500000': 6250000}

In [155]:
# positivity threshholds for various analytes
pos_threshholds = {'HRP2_pg_ml': 2.3, 'LDH_Pan_pg_ml': 47.8,
                   'LDH_Pv_pg_ml': 75.1, 'CRP_ng_ml': np.nan}

In [156]:
# dilution sets for various dilutions
dilution_sets = {'50': ('1', '50', 'fail'), '2500': ('50', '2500', 'fail'),
                 '125000': ('2500', '125000', 'fail'),
                 '6250000': ('125000', '6250000', 'fail'),
                 '312500000': ('6250000', '312500000', 'fail')}

In [292]:
duplicates = samples_data.loc[samples_data.duplicated(subset=['patient_id', 'concentration'], keep=False)]
deduped_dfs = []
for analyte in threshholds.keys():
    dup_analyte = duplicates[['patient_id', 'well', 'error', 'concentration', analyte]]
    pid_dfs = []
    for pid in duplicates['patient_id'].unique():
        dup_data = dup_analyte.loc[dup_analyte['patient_id'] == pid]
        con_dfs = []
        for concentration in dup_data['concentration'].unique():
            fill_df = pd.DataFrame(columns=['patient_id', 'well', 'error',
                                            'concentration', analyte])
            dup_con = dup_data.loc[dup_data['concentration'] == concentration]
            values = dup_con[analyte]
            wells = dup_con['well'].tolist()
            wells = ''.join(c for c in str(wells) if c not in ["[", "]", "'"])
            errors = dup_con['error'].tolist()
            errors = ''.join(c for c in str(errors) if c not in ["[", "]", "'"])
            try:
                values = [float(val) for val in values.tolist()]
                val = sum(values) / len(values)
            except ValueError:
                values = values.tolist()
                num_vals = [val for val in values if ('<' not in val) & ('>' not in val)]
                if len(num_vals) == 1:
                    val = num_vals[0]
                else:
                    val = values[0]
            fill_df = fill_df.append({'patient_id': pid, 'well': wells, 'error': errors,
                           'concentration': concentration, analyte: val}, ignore_index=True)
            con_dfs.append(fill_df)
        con_df = pd.concat(con_dfs)
        pid_dfs.append(con_df)
    pid_df = pd.concat(pid_dfs)
    deduped_dfs.append(pid_df)
deduped = reduce(lambda left, right: pd.merge(left, right, on=['patient_id', 'well', 'error', 'concentration']), deduped_dfs)
deduped.head()

,patient_id,well,error,concentration,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,CRP_ng_ml
0,pa-013-28,"c5, e1","nan, nan",1,117.59,56.865,6.515,2030.62
1,pa-013-28,"d5, f1","nan, nan",50,8823.61,1023.80,219.98,2194.03
2,pa-064-63,"a9, e4","nan, nan",1,205.16,22.72,11.85,27.64
3,pa-064-63,"b9, f4","nan, nan",50,1424.38,< 720.50,< 116.50,< 1337.00
4,pa-082-7,"c9, a12","nan, nan",1,160.355,81.185,9.145,931.435

In [293]:
no_duplicates = samples_data.drop_duplicates(subset=['patient_id', 'concentration'], keep=False)
no_duplicates = pd.concat([no_duplicates, deduped])
no_duplicates.head()

C:\Users\lzoeckler\miniconda3\envs\DIAMETER\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,CRP_ng_ml,HRP2_pg_ml,LDH_Pan_pg_ml,LDH_Pv_pg_ml,concentration,error,patient_id,well
33,7064.05,299.48,< 14.41,2.76,1,NaN,pa-001-14,c8
67,3178.09,4138.79,< 720.50,< 116.50,50,NaN,pa-001-14,d8
29,2413.65,> 330.00,38.94,12.21,1,NaN,pa-001-21,c12
63,< 1337.00,1377.18,1593.58,227.59,50,NaN,pa-001-21,d12
27,92.87,> 330.00,29.86,13.90,1,NaN,pa-001-28,g2

In [294]:
def return_decisions(low, high, fail='fail'):
    # Columns = [neat_above, neat_below, neat_LLQ, neat_ULQ, NA]
    # Rows = [dil_above, dil_below, dil_LLQ, dil_ULQ, NA]
    HRP2_matrix = np.array([[high, high, high, high, high],
                            [high, low, low, high, fail],
                            [high, low, low, fail, fail],
                            [high, high, fail, high, high],
                            [fail, high, high, fail, fail]])

    other_matrix = np.array([[high, low, low, high, high],
                               [high, low, low, high, fail],
                               [high, low, low, fail, fail],
                               [high, low, fail, high, high],
                               [fail, low, low, fail, fail]])

    # decisions for various analytes
    decisions = {'HRP2_pg_ml': HRP2_matrix, 'LDH_Pan_pg_ml': other_matrix,
                 'LDH_Pv_pg_ml': other_matrix, 'CRP_ng_ml': other_matrix}
    return(decisions)

In [295]:
def run_compare(df, analyte_val, dil_val):
    above, below, LLQ, ULQ, NA = False, False, False, False, False
    val = df[analyte_val]
    thresh_val = dil_constants[dil_val] * threshholds[analyte_val]
    try:
        float_val = float(val)
        if math.isnan(float_val):
            NA = True
        elif float_val > thresh_val:
            above = True
        elif float_val < thresh_val:
            below = True
    except ValueError:
        if '<' in val:
            LLQ = True
        elif '>' in val:
            ULQ = True
    finally:
        return(np.array([above, below, LLQ, ULQ, NA]))

In [ ]:
analyte_dfs = []
error_ids = []
for analyte in threshholds.keys():
# for analyte in ['LDH_Pan_pg_ml']:
    patient_dfs = []
    for i in no_duplicates['patient_id'].unique():
#     for i in ['pa-105-28']:
        patient_data = no_duplicates.loc[no_duplicates['patient_id'] == i]
        dilution_values = sorted([val for val in patient_data['concentration'].unique() if val != '1'], key=len)
        best_decision = '1'
        for max_dilution in dilution_values:
#         for max_dilution in ['50']:
            dil_data = patient_data.loc[patient_data['concentration'].isin([best_decision, max_dilution])]
            partial_compare = partial(run_compare, analyte_val=analyte, dil_val=max_dilution)
            dil_data['decision_vector'] = dil_data.apply(partial_compare, axis=1)
            decisions = return_decisions(best_decision, max_dilution)
            decision_matrix = decisions[analyte]
            best_df = pd.DataFrame(columns=['patient_id', analyte,
                                            '{}_dilution'.format(analyte),
                                            '{}_well'.format(analyte),
                                            '{}_max_dilution'.format(analyte)])
            vector_low = dil_data.loc[dil_data['concentration'] == best_decision,
                                      'decision_vector'].item()
            vector_high = dil_data.loc[dil_data['concentration'] == max_dilution,
                                       'decision_vector'].item()
            decision = decision_matrix[vector_high, vector_low].item()
            if decision in [best_decision, max_dilution]:
                val = dil_data.loc[dil_data['concentration'] == decision,
                                   analyte].item()
                well = dil_data.loc[dil_data['concentration'] == decision,
                                    'well'].item()
            elif decision == 'fail':
                val = 'fail'
                well = 'fail'
            else:
                raise ValueError("Unexpected decision value: {}".format(decision))
            other_dilutions = [val for val in patient_data['concentration'].unique()]
            other_dilutions = [float(val) for val in other_dilutions if val != 'fail']
            max_dilution = max(other_dilutions)
            best_df = best_df.append({'patient_id': i, analyte: val,
                                      '{}_dilution'.format(analyte): decision,
                                      '{}_well'.format(analyte): well,
                                      '{}_max_dilution'.format(analyte): max_dilution}, ignore_index=True)
            best_decision = decision
            if decision == 'fail':
                break
        patient_dfs.append(best_df)
    patient_df = pd.concat(patient_dfs)
    analyte_dfs.append(patient_df)
final_df = reduce(lambda left, right: pd.merge(left, right, on='patient_id'), analyte_dfs)

C:\Users\lzoeckler\miniconda3\envs\DIAMETER\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [ ]:
final_df.head()

In [ ]:
final_df.to_csv('C:/Users/lzoeckler/Desktop/4plex/output_data/final_dilutions.csv', index=False)

In [314]:
def split_time(df):
    sub = df['patient_id'].split('-')
    try:
        time = int(sub[2])
        return time
    except IndexError:
        return 0

In [315]:
def remove_time(df):
    patient = df['patient_id'].split('-')
    return '{}-{}'.format(patient[0], patient[1])

In [316]:
time_df = final_df.copy(deep=True)
time_df['time'] = time_df.apply(split_time, axis=1)
time_df['patient_id'] = time_df.apply(remove_time, axis=1)
time_df.sort_values(['patient_id', 'time'], inplace=True)
time_df.set_index(['patient_id', 'time'], inplace=True)
time_df.head()

                HRP2_pg_ml HRP2_pg_ml_dilution HRP2_pg_ml_well  \
patient_id time
pa-001     3     318702.59                2500              e3
           7      73737.79                2500              c5
           14      4138.79                  50              d8
           21      1377.18                  50             d12
           28      2024.41                  50              h2

                        HRP2_pg_ml_other_dilutions LDH_Pan_pg_ml  \
patient_id time
pa-001     3     1, 125000, 312500000, 50, 6250000        142.30
           7                         1, 125000, 50        179.72
           14                                    1       < 14.41
           21                                    1         38.94
           28                                    1         29.86

                LDH_Pan_pg_ml_dilution LDH_Pan_pg_ml_well  \
patient_id time
pa-001     3                         1                 g6
           7                         1                e12
           14                        1                 c8
           21                        1                c12
           28                        1                 g2

                        LDH_Pan_pg_ml_other_dilutions LDH_Pv_pg_ml  \
patient_id time
pa-001     3     125000, 2500, 312500000, 50, 6250000        15.35
           7                         125000, 2500, 50        10.35
           14                                      50         2.76
           21                                      50        12.21
           28                                      50        13.90

                LDH_Pv_pg_ml_dilution LDH_Pv_pg_ml_well  \
patient_id time
pa-001     3                        1                g6
           7                        1               e12
           14                       1                c8
           21                       1               c12
           28                       1                g2

                         LDH_Pv_pg_ml_other_dilutions CRP_ng_ml  \
patient_id time
pa-001     3     125000, 2500, 312500000, 50, 6250000   5678.58
           7                         125000, 2500, 50   1021.09
           14                                      50   7064.05
           21                                      50   2413.65
           28                                      50     92.87

                CRP_ng_ml_dilution CRP_ng_ml_well  \
patient_id time
pa-001     3                     1             g6
           7                     1            e12
           14                    1             c8
           21                    1            c12
           28                    1             g2

                            CRP_ng_ml_other_dilutions
patient_id time
pa-001     3     125000, 2500, 312500000, 50, 6250000
           7                         125000, 2500, 50
           14                                      50
           21                                      50
           28                                      50

In [317]:
time_df.to_csv('C:/Users/lzoeckler/Desktop/4plex/output_data/final_dilutions_time.csv')